# Xcode
*.DS_Store
*.xcuserstate
*.xcuserdata
*.xccheckout
*.xcscmblueprint
*.xcscheme
build/
DerivedData/
xcuserdata/
*.swp
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
Packages/
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/
Cartfile.resolved

# AppCode
.idea/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Local environment files
.env
.env.local