:root {
  --nav-level-1-bg: #013355;
  --deep-blue: #036;
  --dark-blue: #047;
  --secondary-background: #057;
  --medium-blue: #069;
  --button-blue: #10afff;
  --light-blue: #27a;
  --lighter-blue: #5ec9ff;
  --gray-blue: #9ac;
  --pale-blue-0: #c0eaff;
  --pale-blue-1: #e7f7ff;

  --bg-medium: #bdf;
  --bg-light: #def;
  --bg-pale: #eef7ff;
  --bg-palest: #fbfeff;
  --bg-pale-warning: #fffff8;
  --bg-attention: #e3ff9f;
  --bg-plain-primary: #e6e6e6;
  --bg-plain-secondary: #f8f8f8;

  --selected-option: #00557f;
  --warning: darkred;

  --gray60: #999;
  --lighter-gray: #f1f5f9;
  --text-plain: #333;

  --border-base: 1px solid var(--medium-blue);
  --border-dark: 1px solid var(--deep-blue);
  --border-light: 1px solid var(--gray-blue);
  --border-gray: 1px solid var(--gray60);
  --border-dotted: 1px dotted var(--medium-blue);

  --screen-sm: 675px;
  --screen-md: 1024px;
  --screen-lg: 1280px;

}

body {
  font-size: small;
  font-family: sans-serif;
  background-color: #FFF; /* Default to white background */
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000; /* Black background in dark mode */
  }
}

.smalllabel { font-size: 90%; }

.grid_entire_row {
  grid-column: 1 / -1;
}

/* Hover effects for slider value display: */
.fade-init {
  visibility: hidden;
  opacity: 0;
}

.fade-in {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s;
}

/* This is required in order to absolute-position anything inside an element: */
.output_container { position: relative; }

output {
  position: absolute;
  text-align: center;
  background-color: var(--bg-pale);
  color: var(--selected-option);
  border: var(--border-dark);
  font-variant-numeric: tabular-nums;
}

code {
  padding: 0;
  border: var(--border-dotted);
  background-color: var(--pale-blue-1);
}

details code {
  background-color: var(--bg-palest);
}

.number_10s { width: 0; }
.number_100s { width: 0; }
.number_10000s { width: 4.25em; }

/* sometimes we need invisible 0s: */
.invis { color: var(--bg-pale); }

/* Sizes for various controls: */
.slider_xxsmall { width: 3em; }
.slider_xsmall { width: 4.5em; }
.slider_small { width: 6em; }
.slider_medium { width: 9.5em; }

/* The output 'width' here refers to the size of the value which might
be shown, not the size of the slider. */
.output_3 { width: 2.5em; }
.output_4 { width: 3.3em; }
.output_6 { width: 5em; }
.output_9 { width: 6em; }
.output_12 { width: 7em; }

/* Combinations of slider + output sizes affect where hints should appear: */
.slider_xxsmall + .output_3 { left: 0.25em; }
.slider_xsmall + .output_3 { left: 1.05em; }
.slider_xsmall + .output_6 { left: -0.2em; }
.slider_small + .output_3 { left: 1.9em; }
.slider_small + .output_4 { left: 1.4em; }
.slider_small + .output_6 { left: 0.6em; }
.slider_small + .output_12 { left: -0.45em; }
.slider_medium + .output_3 { left: 3.7em; }
.slider_medium + .output_6 { left: 2.5em; }
.slider_medium + .output_9 { left: 1.9em; }
.slider_medium + .output_12 { left: 1.3em; }

.font_sans { font-family: sans-serif; }
.font_serif { font-family: serif; }
.font_mono { font-family: monospace; }

.font_lighter { font-weight: lighter; }
.font_bolder { font-weight: bolder; }

.text_right { text-align: right; }
.text_left { text-align: left; }
.text_center { text-align: center; }

.hidden_under {
  opacity: 0; /* not gone, just not visible */
  z-index: -1; /* move under the regular UI */
  position: absolute; /* don't take up space in the visible layout */
}

/* START WEBKIT TWEAKS
   Make WebKit (Safari/Chrome) sliders a tiny bit more accessible:
   (Firefox doesn't have this issue.) */
